/* styles.css */
body {
    font-family: 'Roboto', sans-serif; /* 更新字體 */
    text-align: center;
    background-color: #121212; /* 深色背景 */
    color: #e0e0e0; /* 亮色文字 */
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #ffffff;
}

#hand, #choices {
    display: flex; 
    justify-content: center;
    flex-wrap: nowrap; /* 禁止換行 */
    margin: 20px 0; /* 添加上下邊距 */
    width: 100%; /* 使用 100% 寬度 */
    max-width: 100%; /* 最大寬度為 100% */
    overflow: hidden; /* 隱藏超出部分 */
}

.tile {
    width: 50px;
    height: 70px;
    border: 1px solid #555;
    background-color: #333;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #dcdcdc;
    cursor: pointer;
    transition: 0.3s;
}

.tile:hover {
    background-color: #444;
}

.selected {
    border: 2px solid #00aaff;
    background-color: #555;
}

#hand .tile {
    cursor: default;
    background-color: #555;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #444;
    border: none;
    color: #dcdcdc;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px; /* 增加圓角 */
}

button:hover {
    background-color: #5fc7a2; /* 懸停顏色 */
}

/* #result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #00aaff;
} */

/* 外部容器 */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* 隱藏預設的 checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* 滑動條 */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555; /* 使用深色背景 */
    transition: 0.4s;
    border-radius: 34px;
}
  
/* 圓形滑塊 */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff; /* 白色圓形滑塊 */
    transition: 0.4s;
    border-radius: 50%;
}
  
/* 當 checkbox 被選中時的樣式 */
input:checked + .slider {
    background-color: #72f1b8; /* 使用亮色 */
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}

#result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #00aaff; /* 預設顏色 */
    transition: color 0.3s, font-weight 0.3s; /* 增加過渡效果 */
}

/* 在小螢幕上調整牌的大小 */
@media (max-width: 600px) {
    #hand, #choices {
        align-items: center; /* 垂直居中 */
    }
    .tile {
        width: 100%; /* 使每個 tile 佔滿寬度 */
        max-width: 80%; /* 最大寬度限制 */
        margin: 5px 0; /* 垂直邊距 */
    }
}


/* 大於 900 像素的設備 */
@media (min-width: 900px) {
    .tile {
        width: 50px; /* 恢復正常大小 */
        height: 70px; 
        font-size: 1.2rem; /* 恢復字體大小 */
    }
}